body {
    height: 95vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

canvas {
    width: 320px;
    height: 560px;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 1px;
    border-radius: 7px;
}

#score-info {
    display: none;
    background-color: white;
    border-radius: 17px;
    position: absolute;
    width: calc(100% - 30%);
    height: 180px;
    border: 1px solid red;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: 500;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.row {
    display: flex;
    justify-content: center;
    width: 100%;
}

button {
    width: 60px;
    height: 60px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    margin: 15px;
    box-shadow: 0 4px #999;
    transition: all 0.1s ease-in-out;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 2px #666;
    transform: translateY(4px);
}